.nav{
    margin: 16px auto 0;
    padding: 16px;
    border-radius: 8px;
    position: sticky;
    top: 16px;
    width: 90%;
    background: rgba(0, 0, 0, 0.1); /* Slightly darker semi-transparent background */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
    backdrop-filter: blur(24px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(12px); /* Frosted glass for Safari */
    z-index: 1;
}

.nav-links{
    gap: 16px;
    margin: 0 auto;
}

.nav-links a {
	transition: 0.35s;
}

.nav-links a:hover {
	text-shadow: 0 0 15px var(--primary-color);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}

@media (min-width:768px) {
    .nav{
        width: 30%;
    }
}